@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');



.playwrite-cu-font {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
    margin: 0;
}


/* navbar style */
.nav-bar{
    height: 100px;
    /* border: 2px solid pink; */
    background-color: rgb(17, 17, 17);
    
}
.whole-part{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    
}
.nav-title-part a{
    text-decoration: none;
}

.nav-title-part a h3{
    color: rgb(230, 83, 60);
    font-size: 26px;
    font-style: italic;
}
.nav-link-part{
    display: flex;
    border: 1px solid #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    /* border: 2px solid red; */
    
}
.nav-title-part, .nav-link-part{
    margin-top: 20px;
    /* border: 2px solid red; */
} 



.nav-link-part li{
    list-style: none;
    margin-right: 15px;
}
.nav-link-part a{
    text-decoration: none;
}

.nav-link-part li a{
    color: rgb(255, 255, 255);
}

.nav-link-part li .special{
    border: 1px solid white;
    /* padding: 8px; */
    border-radius: 40px;
    padding: 10px 25px 10px 25px;
    background-color: rgb(230, 83, 60);
    margin-right: ;
}

.icon-part{
    color: aliceblue;
    display: none;
}


@media screen  and (max-width:576px) {
    .icon-part{
        color: aliceblue;
        display: block;
        margin-top: 20px;
    }
    .nav-link-part{
        display: none;
    }

    
}

/* navpart done */

/* banner part */

.Image-section .box-2 .ball{
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 50%;
    
    
    /* border: 2px solid black; */
    
}

.box .outside-ball .hudai-jhamela-two{
    font-size: 7px;
    line-height: em;
    font-weight: 300;
    color: #FFFFFF;
}

.box .hudai-jhamela{
    font-size: 22px;
    font-weight: 800;
    color: #FFFFFF;
    
    margin-top: 25px;
    /* border: 2px solid black; */
}


.banner{
    /* height: 700px; */
    border: 1px solid black;
    background-color: #111111;
}

.banner-whole-part{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 2px solid tomato; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding: 100px; */
    
    
}

.Content-section{
    /* border: 2px solid black; */
    max-width: 550px;
    max-height: 100px;
    margin-top: 50px;
}

.Content-section h1{
    font-size: 70px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 6rem;
}

.Content-section h1 .jhamela{
    font-style: italic;
}

.Content-section .buttons{
   
    margin-top: 10px;
   
}

.Content-section .buttons .join-button, .app-button{
    width: 150px;
    height: 40px;
    border: 1px solid #FFFFFF;
    padding: 2px 5px 2px 5px;
    border-radius: 40px;
    margin-top: 15px;
}   

.Content-section .buttons .join-button{
    background-color: #E6533C;
}

.Content-section .buttons  .app-button{
    background-color: #101010;
    color: #FFFFFF;
    margin-left: 8px;
}
.Content-section p{
    color: #535353;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 25px;
}

.Image-section{
    position: relative;
    margin-right: 40px;
}

.Image-section .box{
    position: absolute;
}

.Image-section .box-1 .outside-ball .h-j{
    color: #FFFFFF;
    font-size: 11px;
}

.Image-section img{
    max-height: 500px;
   /* border: 2px solid black; */
   
}

.Image-section .box-1{
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    width:40%;
    height: 50px;
    padding: 7px;
    text-align: center; 
    background: #393939;
    backdrop-filter: blur(25px);
}

.Image-section .box-1{
    top: 20%;
    left: 55%;
}

.Image-section .box-2{
    bottom: 20%;
    left: -15%;
}

.Image-section .box-2{
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    width: 50%;
    background: #393939;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    gap: 8px;
    
}

.Image-section .box-2 .hudai-jhamela-two{
    font-size: 25px;
    font-weight: 650;
    text-align: left;

    /* border: 2px solid black; */
}

.Image-section .box-2 .outside-ball{
    /* border: 2px solid black; */
    
}

.Image-section .hudai-jhamela-three{
    /* border: 1px solid white; */
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
}

@media screen  and (max-width:576px) {
   

    
}
