@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');



.playwrite-cu-font {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
    margin: 0;
    /* background-color: #000; */
}


/* navbar style */
.nav-bar{
    height: 100px;
    /* border: 2px solid pink; */
    background-color: rgb(17, 17, 17);
    
}
.whole-part{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    
}
.nav-title-part a{
    text-decoration: none;
}

.nav-title-part a h3{
    color: rgb(230, 83, 60);
    font-size: 26px;
    font-style: italic;
}
.nav-link-part{
    display: flex;
    border: 1px solid #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    /* border: 2px solid red; */
    
}
.nav-title-part, .nav-link-part{
    margin-top: 20px;
    /* border: 2px solid red; */
} 



.nav-link-part li{
    list-style: none;
    margin-right: 15px;
}
.nav-link-part a{
    text-decoration: none;
}

.nav-link-part li a{
    color: rgb(255, 255, 255);
}

.nav-link-part li .special{
    border: 1px solid white;
    /* padding: 8px; */
    border-radius: 40px;
    padding: 10px 25px 10px 25px;
    background-color: rgb(230, 83, 60);
    margin-right: ;
}

.icon-part{
    color: aliceblue;
    display: none;
}


@media screen  and (max-width:576px) {
    .icon-part{
        color: aliceblue;
        display: block;
        margin-top: 20px;
    }
    .nav-link-part{
        display: none;
    }

}



/* navpart done */

/* banner part */

.banner-whole-part .Image-section .box-2 .ball{
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 50%;
    /* border: 2px solid red; */
    
}

.box .outside-ball .hudai-jhamela-two{
    font-size: 7px;
    line-height: em;
    font-weight: 300;
    color: #FFFFFF;
}

.box .hudai-jhamela{
    font-size: 22px;
    font-weight: 800;
    color: #FFFFFF;
    background-color: #232323;
    margin-top: 25px;
    /* border: 2px solid black; */
}


.banner{
    /* height: 700px; */
    border: 1px solid black;
    background-color: #111111;
}

.banner-whole-part{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 2px solid tomato; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding: 100px; */
    
    
}

.Content-section{
    /* border: 2px solid black; */
    max-width: 550px;
    max-height: 100px;
    margin-top: 50px;
}

.Content-section h1{
    font-size: 70px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 6rem;
}

.Content-section h1 .jhamela{
    font-style: italic;
}

.Content-section .buttons{
   
    margin-top: 10px;
   
}

.Content-section .buttons .join-button, .app-button{
    width: 150px;
    height: 40px;
    border: 1px solid #FFFFFF;
    padding: 2px 5px 2px 5px;
    border-radius: 40px;
    margin-top: 15px;
}   

.Content-section .buttons .join-button{
    background-color: #E6533C;
}

.Content-section .buttons  .app-button{
    background-color: #101010;
    color: #FFFFFF;
    margin-left: 8px;
}
.Content-section p{
    color: #535353;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 25px;
}

.Image-section{
    position: relative;
    margin-right: 40px;
}

.Image-section .box{
    position: absolute;
}

.Image-section .box-1 .outside-ball .h-j{
    color: #FFFFFF;
    font-size: 11px;
}

.Image-section img{
    max-height: 500px;
   /* border: 2px solid black; */
   
}

.Image-section .box-1{
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    width:40%;
    height: 50px;
    padding: 7px;
    text-align: center; 
    background: #232323;
    backdrop-filter: blur(25px);
}

.Image-section .box-1{
    top: 20%;
    left: 55%;
}

.Image-section .box-2{
    bottom: 20%;
    left: -15%;
}

.Image-section .box-2{
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    width: 50%;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    gap: 8px;
    
}

.Image-section .box-2 .hudai-jhamela-two{
    font-size: 25px;
    font-weight: 650;
    text-align: left;
    /* background-color: #232323; */

    /* border: 2px solid black; */
}

.Image-section .box-2 .outside-ball{
    /* border: 2px solid black; */
    
}

.Image-section .hudai-jhamela-three{
    /* border: 1px solid white; */
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
}

@media screen  and (max-width:576px) {
    .banner{
        
    }
    .banner-whole-part{
        display: flex;
        flex-direction: column;
        height: 1000px;
    }

    .Content-section{
        width: 90%;
        margin: 0 auto;
        position: static;
        text-align: center;
    }
    .Content-section .buttons .join-button, .app-button{
        width: 100%;
        
    }

    .Image-section{
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-right: 15px;
       
    }

    .Image-section .box{
        bottom: 00px;
    }
}


/* banner section done */


/* change yor habit section */


.habit-section{
    background-color: #000000;
}

.content-part{
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    /* margin-top: 20px; */
}

.image-part{
    /* border: 2px solid blue; */
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(4, 200px) ;
    gap: 50px;
}

.image-part .image-one, .image-two, .image-three, .image-four{
    /* border: 3px solid antiquewhite; */
    width: 70%;
    margin: 0 auto;
}

.image-part .same-style{
    /* border: 2px solid red; */
    width: 100%;
    border-radius: 50%;
}

.content-part{
    background-color: #000000;
}

.content-part h1{
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 20px;
}
.content-part p{
    font-size: 13px;
    color: #535353;
    font-weight: 550;
    margin-top: 20px;
}

.image-part .image-one h6{
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.image-part .image-one p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    
}

.image-part .image-two h6{
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.image-part .image-two p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    
}

.image-part .image-three h6{
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.image-part .image-three p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    
}

.image-part .image-four h6{
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.image-part .image-four p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    
    
}

@media screen  and (max-width:576px) {
    .habit-section .content-part h1,p{
        width: 80%;
        margin: 0 auto;
    }

    .habit-section .image-part{
        display: flex;
        flex-direction: column;
    }
}

/* habit section done */

/* run part */


.run-part{
    background-color: rgb(0, 0, 0);
    /* margin-top: 150px; */
    border: 2px solid black;
}
.whole-div .img-div img{
    width: 360px;
    height: 250px;
    /* border: 2px solid rebeccapurple; */
    border-radius: 14px;
    background-color: #232323;
    margin-right: 15px;
}


.whole-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    background-color: #232323;
    border-radius: 12px;
    /* border: 2px solid wheat; */
    margin-top: 90px;
    height: 300px;
    
}

.content-section{
    /* border: 2px solid bisque; */
    background-color: #232323;
    margin-left: 10px;
    
}

.content-section h1{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #FFFFFF;
    background-color: #232323;
}

.content-section p{
    font-size: 13px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    background-color: #232323;
}

.content-section .btn{
    width: 150px;
    height: 40px;
    border: 1px solid #FFFFFF;
    padding: 2px 5px 2px 5px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    margin-top: 30px;
}

@media screen  and (max-width:576px) {
    .whole-div{
        display: flex;
        flex-direction: column;
    }
    
}



/* BMI-section start */


.BMIs-sides{
    display: flex;  
    justify-content: center;  
    gap: 200px;
    padding: 20px 20px;
    background-color: #222222;
    /* width: 80%;
    margin: 0 auto;
     */
}

.BMIs-sides .h1-part{
    margin-top: 10px;
    margin-bottom: 20px;
}
.BMI-section .table-part table td{
    border: 1px solid #878787;
    padding: 10px 9px;
    text-align: left;
}

.BMI-section .table-part table{
    border-collapse: collapse;
}

.form-container input, select {
    width: 280px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    
    background-color: #222222;
    font-size: 16px;
   
}

.form-container #gender{
    width: 300px;
}

.table-part{
    color: #FFFFFF;
}

.table-part tbody tr{
    color: #878787;
    font-size: 12px;
}

.form-container #factor{
    width: 606px;
    color: #878787;
}

.form-container .second-part{
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-side .form-container .second-part #gender{
    color: #878787;
}

.left-side h1{
    color: #FFFFFF;
}


.right-side{
    margin-top: 5px;
}



.right-side h1{
    margin-bottom: 10px;
    color:#FFFFFF;
}

.right-side p{
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 13px;
}

.right-side .btn{
    width: 150px;
    height: 40px;
    border: 1px solid #FFFFFF;
    padding: 2px 5px 2px 5px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    margin-top: 30px;
    color: #ffffff;
}
.title{
    background-color: #000000;
    height: 180px;
}

.upper-part{
    border: 1px solid black;
    width: 40%;
    margin: 0 auto;
    
    color: #FFFFFF;
    background-color: ;
}

.upper-part h1{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
}

.upper-part p{
   font-size: 13px;
   color: rgba(255, 255, 255, 0.5);
}


/* BMI-section done */

.meet-part{
    background-color: #000000;
    border: 2px solid black;
    margin-top: 0;
}

.img-part{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 54%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid tomato; */
    padding: 8px;
    gap: 8px;
    background-color: #1A1A1A;
    height: 400px;
    border-radius: 12px;
}

.img-part img{
    width: 220px;
    height: 170px;
    border-radius: 12px;
}

.heading-part{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
}

.heading-part h1{
    font-weight: 900;
    font-size: 40px;
}

.heading-part p{
    color: #534F4E;
    margin-top: 8px;
    line-height: 1.3rem;
    font-size: 13px;
}

.dhakkadhakki{
  margin-top: 10px;  
    
}

.mem-data{
    position: relative;
    bottom: 45px;
    left: 5px;
    color: #FFFFFF;
}

.mem-data h5{
    font-weight: 900;
    font-size: 16px;
}

.mem-data p{
    font-size: 12px;
    color: #91949C;
    font-weight: 400;
}

/* meet part done */


.final-intro{
    background-color: #1A1A1A;
}
.final-part{
    display: flex;
    width: 70%;
    margin: 0 auto;
 
    justify-content: space-between;
}

.Left-part h1{
    font-style: italic;
    color: #E6533C;
    font-weight: 800;
    font-size: 40px;
}

.Left-part p{
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.3rem;
    margin-top: 10px;
}

.right-part{
    display: flex;
    gap: 70px;
}

.Left-part, .right-part{
    margin-top: 30px;
}

.final-part .right-part ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.final-part .right-part ul a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;

}

.right-part .column-part h3{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}






.footer-part hr{
    border: none;
    border-top: 2px solid #333;
    margin: 0 auto;
    width: 70%;
    margin-top: 40px;
}

.footer-part p{
    width: 70%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    /* border: 2px solid tomato; */
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}














